.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  --background: rgb(46, 46, 255);
  --accent-color: rgb(0, 248, 0);
  --text-color: white;
  --shadow-color: black;
  color: var(--text-color);
  background: var(--background);
  font-size: 4rem;
}