/* App Styles */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  --background: rgb(46, 46, 255);
  --accent-color: rgb(248, 161, 0);
  --accent-light: rgb(255, 189, 65);
  --text-color: rgb(0, 0, 0);
  --shadow-color: black;
  color: var(--text-color);
  background: var(--background);
}
/* =================== Universal Styles =============================== */
.container {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  align-items: center;
  flex-direction: column;
  flex: 1 1;
  gap: 2rem;
  width: clamp(100px, 100vw, 600px);
  /* font-size: 4rem; */
}

a {
  text-decoration: none;
  color: currentColor;
  
}

button {
  border: 4px solid black;
  box-shadow: 2px 2px black;
  color: black;
  /* Give this color a name */
  background: rgb(255, 118, 136); 
  padding: 5px 10px;
  font-size: 1.4rem;
  cursor: pointer;
}
button:active {
  box-shadow: none;
}

/*  ======================== NavBar Styles ================================== */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgba(244, 244, 244, 0.699);
  width: 100vw;
  padding: 0.4rem 1rem;
  gap: 1rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.6rem, 2vw, 2rem);
  /* flex: 0 1; */
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border: 4px solid black;
  outline: none;
  font-size: 2rem;
  margin: none;
  background: rgb(255, 118, 136);
  color: var(--text-color);
  cursor: pointer;
  box-shadow: 4px 4px black;
  font-weight: bold;
  align-self: stretch;
}

.add-button:active {
  box-shadow: none;
}
/* 
button:focus {
  box-shadow: none;
} */

input[type="text"] {
  align-self: stretch;
  padding: 10px 20px;
  font-size: 1.4rem;
  border: 4px solid black;
  box-shadow: 4px 4px black;
  outline: none;
  flex-grow: 1;
  max-width: 450px;
  /* min-width: 5rem; */
  /* width: 80vw; */
  /* width: clamp(5rem, 100%, 60rem); */
}
/* input[type="text"]:focus {
  box-shadow: none;
} */


.list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 0.8rem;
  flex: 1 1;
  width: 100%;
}

.list li {
  padding: 10px 20px;
  border: 4px solid black;
  /* flex: 1 1; */
  width: 100%;
  background: var(--accent-light);
  font-size: 1.4rem;
  color: black;
  box-shadow: 4px 4px black;
  display: flex;
  justify-content: space-between;
}

.list li button {
  font-size: 1.4rem;
  padding: 3px 8px;
  border: 2px solid black;
  box-shadow: 2px 2px black;
}

.list li button:active {
  box-shadow: none;
}
.list .title {
  /* flex-grow: 1; */
}
.list input[type="checkbox"] {
  accent-color: var(--accent-light);
  width: 2rem;
  height: 2rem;
}
/* sidebar */
.sidebar{
  position: fixed;
  transform: translate(-150rem);
  width: 25rem;
  background-color: rgb(233, 233, 233);
  border-radius: .8rem;
  height: 100%;
}
.sidebar.open{
  transform: translateX(-29.7rem);
}

.sidebar h2{
  padding: 2rem;
}
.sidebar-close{
  border-radius: 50%;
  border: .1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: .7rem;
  font-size: 2.3rem;
  padding-top: 0;
  cursor: pointer;
  position:absolute;
  right: .6rem;
  top: 2rem;
}